.container#center-position {
  text-align: center;
}

.left-position {
  text-align: left;
}
.about-me {
  float: left;
  border: 2px solid black;
  margin: 10px;
  text-align: left;
}

.about-me h5 {
  font-size: 24px;
  font-family: cursive;
}

.center-body#background {
  background: #FA8072;
}

.center-body#hobbies {
  background: #67CBFD;
}

.center-body#why-programming {
  background: #67FD6A;
}

h4 {
  font-size: 32px;
  font-family: sans-serif;
}
