<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Home</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="roster">Team Roster</a></li>
    </ul>
  </div>
</nav>

<div style="text-align:center">
  <h1>
    Welcome to the {{title}} fan page!
  </h1>
  <img width="300" src="https://league-mp7static.mlsdigital.net/styles/image_landscape/s3/images/SEA-Secondary-Logo.jpg?null&itok=3Tz8v3AW&c=08ce797bb0b111f4ccfb5e64e152df15">
  <router-outlet></router-outlet>
</div>


<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://blog.angular.io//">Angular blog</a></h2>
  </li>
</ul> -->
